.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: #222744;
}
a {cursor: pointer;}
.epic-text {
    margin: 15px 0 0 0;
    text-align: center;
    color: #777;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3pt;
    font-size: 8pt;
}
.medium-epic-text {
    color: #777;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-size: 8pt;
}
.epic-title {
    cursor: pointer;
    text-align: left;
    color: #777;
    letter-spacing: 1pt;
    font-size: 15pt;
}
.text-transform-none {
    text-transform: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.cursor-pointer, [toggle-show]{
    cursor: pointer
}

/* row-vertical-align-center */
.row-vertical-align-center {
    align-items: center;
    justify-content: center;
}
/*  */
.table th, .table td {
    border-top: .0625rem solid #f3f3f3;
}
/*  */
.card-border-top {
    border-top: 3px solid #ecebcd;
}
.card-border-top-green {
    border-top: 3px solid #2dce89;
}
.card-border-top-blue {
    border-top: 3px solid #7c78c3;
}
.card-border {
    border: 1px solid #ecebcd;
}
.card-edge {
    position: relative;
    line-height: 0;
}
.box-shadow {
    box-shadow: 0 7px 14px 0 rgba(60,66,87,.08), 0 3px 6px 0 rgba(0,0,0,.12);
}
/* PLAYER */
#videoCard .infoBar {
    position:absolute;
    width:100%;
    z-index:12;
    background: rgba(0,0,0,0.5);
    line-height: normal;
}
#videoCard:hover .infoBar {
    opacity: 1!important;
}
#videoCard .infoBar a{
    color: #fff;
}
#overlayPlayButton {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    cursor:pointer;
    z-index: 11;
}

table {
    font-weight: 100;
}

/*  */
.section-shaped .shape-blue
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(5,0,88,1) 0%, rgba(0,0,121,1) 35%, rgba(0,70,148,1) 100%);
}
.section-shaped .shape-blue :nth-child(1)
{
    background: #2e2e57;
}
.section-shaped .shape-blue :nth-child(2)
{
    background: #2b2b58;
}
.section-shaped .shape-blue :nth-child(3)
{
    background: #25254d;
}
.section-shaped .shape-blue :nth-child(4)
{
    background: #d782d9;
}
.section-shaped .shape-blue :nth-child(5)
{
    background: #008169;
}

/* Stripe Block */

.stripe-block h1{
    border: 0;
    margin: 0;
    padding: 0;
    color: #32325d;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.stripe-block .subtitle{
    border: 0;
    margin: 0;
    padding: 0;
    color: #525f7f!important;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.stripe-block .item-row .title{
    color: #8898aa;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
}

.stripe-block .promo-img{
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    border:1px solid #eee;
}

.stripe-block .item-row{
    background: #f6f9fc;
    padding: 10px;
    border-bottom:1px solid #fff;
}

.stripe-block .item-row:first-child{
    border-radius: 5px 5px 0 0;
}

.stripe-block .item-row:last-child{
    border-bottom: 0px;
    border-radius: 0 0 5px 5px;
}

/*  */
.btn-round {
    border-radius:15px;
}
.btn-transparent {
    background: none;
    border: 0;
}
/*  */
.card .table:not(.table-striped) tr:first-child td{
    border-top:0;
}
.card.card-stripe-bg{
    box-shadow: 3px 4px 3px 0px #f9f9f9;
}
.card.card-stripe-bg .card-body{
    background-color: #f7fafc
}
.card.card-stripe-bg .card-footer,
.card.card-stripe-bg .card-header{
    background-color: #fff
}
