.skew-design {
    position: relative;

}
.skew-design > *:not(.not-relative) {
    position: relative;
}
.skew-design > * {
  z-index: 2
}
/* style 1 */
.skew-design.skew-design-1.with-before::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 50%;
  transform: translate(-28%, -32%) rotate(-8deg) skew(-8deg);
  background: rgb(216, 230, 203);
  opacity: 0.2;
  border-radius: 15px 0 0 15px;
  z-index: 1;
}
.skew-design.skew-design-1.with-after::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 50%;
  transform: translate(-72%, -50%) rotate(-8deg) skew(-8deg);
  background: rgb(80, 80, 101);
  opacity: 0.05;
  border-radius: 0 15px 15px 0;
  z-index: 1;
}
/* style 2 */
.skew-design.skew-design-2.with-before::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 50%;
  transform: translate(-28%, -32%) rotate(-8deg) skew(-8deg);
  background: rgb(116, 103, 189);
  opacity: 0.1;
  border-radius: 15px;
  z-index: 1;
}
.skew-design.skew-design-2.with-after::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 50%;
  transform: translate(-72%, -50%) rotate(-8deg) skew(-8deg);
  background: rgb(76, 158, 0);
  border-radius: 15px;
  opacity: 0.1;
  z-index: 1;
}
/* style 3 */
.skew-design.skew-design-3.with-before::before {
  content: '';
  position: absolute;
  top: 80%;
  left: 50px;
  width: 350px;
  height: 50%;
  transform: translate(-28%, -32%) rotate(-8deg) skew(-8deg);
  background: rgb(57, 89, 100);
  opacity: 0.05;
  border-radius: 0 15px 15px 0;
  z-index: 1;
}
.skew-design.skew-design-3.with-after::after {
  content: '';
  position: absolute;
  top: 70%;
  left: 50px;
  width: 550px;
  height: 50%;
  transform: translate(-72%, -50%) rotate(-8deg) skew(-8deg);
  background: rgb(80, 80, 101);
  opacity: 0.05;
  border-radius: 0 15px 15px 0;
  z-index: 1;
}
