<footer class="footer bg-white skew-design-3 skew-design with-after with-before">
  <div class="container">
    <!-- <div class="row row-grid align-items-center mb-5">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <button target="_blank" href="https://twitter.com/ShinobiCCTV" rel="nofollow" class="btn btn-default btn-sm">
            Twitter
        </button>
      </div>
    </div> -->
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          © <%- (new Date()).getFullYear() %> <a href="" target="_blank">Shinobi Systems</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/subscribe<%- user ? `?sessionId=${user.sessionId}` : `` %>" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="/products<%- user ? `?sessionId=${user.sessionId}` : `` %>" class="nav-link">Products</a>
          </li>
          <li class="nav-item">
            <a href="/articles" class="nav-link" target="_blank">Articles</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
