<!-- Core -->
<script src="/libs/vendor/jquery/jquery-ui.min.js"></script>
<script src="/libs/js/jquery.serializeObject.min.js"></script>
<script src="/libs/vendor/popper/popper.min.js"></script>
<script src="/libs/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/libs/vendor/headroom/headroom.min.js"></script>
<!-- Argon JS -->
<script src="/libs/js/argon.js?v=1.0.1"></script>
<!-- Renderer -->
<script src="/libs/js/socket.io.js"></script>
<script src="/libs/js/clientArea.socketio.js"></script>
<script src="/libs/js/clientArea.main.js"></script>
</body>

</html>
