<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%- config.webPageDescription %>">
  <meta name="author" content="Moinul Alam, <%- config.poweredByShinobi %>">
  <title><%- pageTitle || config.webPageTitle %></title>
  <!-- Favicon -->
  <link href="/libs/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Icons -->
  <link href="/libs/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <!-- Font -->
  <link href="/libs/css/open-sans.css" rel="stylesheet">
  <!-- Icons -->
  <link href="/libs/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/libs/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/libs/css/argon.css?v=1.0.1" rel="stylesheet">
  <!-- Renderer -->
  <link href="/libs/css/renderer.css" rel="stylesheet">
  <link href="/libs/css/skew-design.css" rel="stylesheet">
  <link href="/libs/css/clientArea.modal.css" rel="stylesheet">
  <link href="/libs/css/clientArea.custom.css" rel="stylesheet">
  <script src="/libs/vendor/jquery/jquery.min.js"></script>
</head>
