<script>var user = null</script>
<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="/subscribe">
        <img src="/libs/img/brand/white.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
                <img src="/libs/img/brand/blue.png">
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="fa fa-bars"></i>
              <span class="nav-link-inner--text">Menu</span>
            </a>
            <div class="dropdown-menu dropdown-menu-xl">
              <div class="dropdown-menu-inner">
                <% [
                    {
                        title: 'Login',
                        text: 'Login to manage your Subscriptions and Account Information.',
                        type: 'default',
                        icon: 'key',
                        attribute: 'href="/login"'
                    },
                    {
                        title: 'Register',
                        text: 'Register to setup Subscriptions and Product Orders.',
                        type: 'warning',
                        icon: 'user',
                        attribute: 'href="/register"'
                    },
                    {
                        title: 'Documentation',
                        text: 'Shinobi Documentation for Setup and Usage.',
                        type: 'info',
                        icon: 'file-o',
                        attribute: 'href="//shinobi.video/docs"'
                    },
                    {
                        title: 'Services',
                        text: 'Purchase Shinobi Licenses and Support.',
                        type: 'success',
                        icon: 'retweet',
                        attribute: 'href="/subscribe"'
                    },
                    {
                        title: 'Products',
                        text: 'Purchase Shinobi Licenses and Support.',
                        type: 'primary',
                        icon: 'shopping-cart',
                        attribute: 'href="/products"'
                    },
                    {
                        title: 'Lifetime Licenses',
                        text: 'For businesses and integrators. No Recurring payments.',
                        type: 'danger',
                        icon: 'heart-o',
                        attribute: `href="/lifetime"`
                    },
                    {
                        title: 'Sponsored',
                        text: 'Auxiliary products and services.',
                        type: 'default',
                        icon: 'handshake-o',
                        attribute: `href="/products/sponsored"`
                    },
                ].forEach(function(contents){ %>
                    <a class="<%- contents.class %> media d-flex align-items-center" <%- contents.attribute %>>
                        <div class="icon icon-shape bg-gradient-<%- contents.type %> rounded-circle text-white">
                            <i class="fa fa-<%- contents.icon %>"></i>
                          </div>
                          <div class="media-body ml-3">
                            <h5 class="heading text-<%- contents.type %> mb-md-1"><%- contents.title %></h5>
                            <p class="description d-none d-md-inline-block mb-0"><%- contents.text %></p>
                          </div>
                      </a>
                <% }) %>
              </div>
            </div>
          </li>
          <% [
              {
                  title: 'Login',
                  icon: 'key',
                  attribute: 'href="/login"'
              },
              {
                  title: 'Services',
                  icon: 'retweet',
                  attribute: 'href="/subscribe"'
              },
              {
                  title: 'Products',
                  icon: 'shopping-cart',
                  attribute: 'href="/products"'
              },
              {
                  title: 'Vouchers',
                  icon: 'ticket',
                  attribute: `href="/vouchers"`
              },
              {
                  title: 'Lifetime Licenses',
                  icon: 'heart-o',
                  attribute: `href="/lifetime"`
              },
          ].forEach(function(contents){ %>
              <li class="nav-item">
                <a class="nav-link <%- contents.class %>" <%- contents.attribute %>>
                  <i class="fa fa-<%- contents.icon %>"></i>
                  <span class="nav-link-inner--text"><%- contents.title %></span>
                </a>
              </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </nav>
</header>
