<% include blocks/header.ejs %>
<body>
    <% include blocks/menu.ejs %>
  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-4 shape-primary">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
        <!-- Main Elements -->
        <div class="row m-0">
            <div class="col-md-3">
                <div id="recent-chat-list">

                </div>
            </div>
            <div class="col-md-9">
                <div id="chat-container">

                </div>
            </div>
        </div>
    </section>
  </main>
<% include blocks/confirm.ejs %>
<% include blocks/footer.ejs %>
<% include blocks/footerBar.ejs %>
